torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2
pytorchvideo==0.1.5
timm==0.6.7
ftfy
regex
einops
fvcore
# decord==0.6.0
iopath
numpy
matplotlib
types-regex
# mayavi
# cartopy
# module requirements
pydantic==1.10.9
fastapi==0.95.1
uvicorn==0.22.0
